<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
	   <class name="testCase_BB.BBTest_1_AccountCreationTest"/>	
       <class name="testCase_BB.BBTest_2_UrlValidationTest"/>
       <class name="testCase_BB.BBTest_3_LoginTest"/>
       <class name="testCase_BB.BBTest_4_CartPageValidationTest"/>
       <class name="testCase_BB.BBTest_5_CheckTitleofmenuTest"/>
       <class name="testCase_BB.BBTest_6_SearchbyBrandTest"/>
       <class name="testCase_BB.BBTest_7_SearchByDepartmentTest"/>
       <class name="testCase_BB.BBTest_8_SearchBySearchBarTest"/>
       <class name="testCase_BB.BBTest_9_CheckOutPageFillingTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
